.bar {
  position: relative;
  width: 220px;
  height: 22px;
  background: rgba(256, 0, 0, 0.5);
  border-radius: 2px;
  overflow: hidden;
  padding: 0;

  transition: opacity 0.25s ease;

  outline: none;
  border: none;
  box-shadow: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bar:hover {
  opacity: 0.5;
}

.bar:focus {
  outline: none;
}

.fill {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: calc(var(--pct) * 100%);
  background: rgba(0, 256, 0, 0.5);
  z-index: 0;
}

.fillSubbed {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: gray;
  z-index: 0;
}

.label {
  position: relative;
  z-index: 1;
  color: white;
  text-shadow: 1px 1px 0 black;
  pointer-events: none;
}

.coreContainer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
}

.barContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.dmgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  width: auto;
  height: 24px;
  background: rgba(255, 0, 0, 0.25);
  border-radius: 2px;
  text-shadow: 1px 1px 0 black;
  color: rgba(255, 192, 192, 0.75);
  cursor: pointer;
}

.img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.subbedBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  min-width: 62px;
  width: auto;
  background: rgba(255, 0, 0, 0.25);
  border-radius: 2px;
  text-shadow: 1px 1px 0 black;
  color: rgba(255, 192, 192, 0.75);
}

.numberLabel {
  position: absolute;
  left: 0;
  margin-left: 5px;
}

@media (max-width: 520px) {
  .bar,
  .fillSubbed {
    width: 135px;
    font-size: 12px;
    height: 24px;
  }

  .dmgBox,
  .subbedBox,
  .fill {
    font-size: 12px;
    height: 24px;
  }

  .subbedBox {
    width: 50px;
  }

  .numberLabel {
    font-size: 8px;
  }

  .barContainer,
  .coreContainer {
    row-gap: 0px;
    gap: 5px;
  }

  .img {
    width: 16px;
    height: 24px;
    object-fit: contain;
  }
}
