#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#inputs {
  display: grid;
  grid-template-columns: auto max-content;
  gap: 8px 12px;
  grid-auto-rows: 30px;
  align-items: center;
  height: fit-content;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#title {
  margin: 0;
  border-bottom: 1px solid #666;
  margin-bottom: 15px;
}

#title::after {
  content: "1) try shift-clicking on a row to substitute it\A 2) clicking on a row will delete it and pull the other rows up\A 3) strength bonus is your equipment strength with no mainhand";
  display: block;
  white-space: pre-line;
  justify-self: start;
  text-align: left;
  font-size: 14px;
  font-weight: 100;
}

#button {
  background-color: rgba(255, 0, 0, 0.25);
  border-radius: 2px;
  font-weight: 100;
}

#button:focus,
#button:focus-visible {
  outline: none;
}

@media (max-width: 520px) {
  #content {
    align-items: start;
  }
  #container {
    gap: 25px;
  }
}
