#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#inputs {
  display: grid;
  grid-template-columns: auto max-content;
  gap: 8px 12px;
  justify-content: start;
  align-items: center;
  height: fit-content;
}
